{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title is provided by inheriting templates
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'calorie_counter/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'calorie_counter/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'calorie_counter/style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>

<div class="container"><!-- start of container -->
    <div class="status row">
            <div class="offset-by-eight four columns">
                <ul class="inline">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout_urlpattern' %}">
                            Log Out, {{ user.get_username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'login_urlpattern' %}">
                            Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    <header class = "row">
        <div class = "offset-by-one ten columns">
            <h1 class = "top-title">Calorie Counter</h1>
            <h2>Nutrition Tracking System</h2>
        </div>
    </header>
    <nav>
        <ul>
            {%  if perms.calorie_counter.view_member %}
            <li>
                <a href="{% url 'calorie_counter_member_list_urlpattern' %}">
                    Members</a></li>
            {% endif %}

            {%  if perms.calorie_counter.view_daily_macro_goal %}
            <li>
                <a href="{% url 'calorie_counter_daily_macro_goal_list_urlpattern' %}">
                    Macro Goals</a></li>
            {% endif %}
            {%  if perms.calorie_counter.view_food %}
            <li>
                <a href="{% url 'calorie_counter_food_list_urlpattern' %}">
                    Foods</a></li>
            {% endif %}
            {%  if perms.calorie_counter.view_mealfood %}
            <li>
                <a href="{% url 'calorie_counter_meal_food_list_urlpattern' %}">
                    Meal Foods</a></li>
            {% endif %}
            {%  if perms.calorie_counter.view_meallog %}
            <li>
                <a href="{% url 'calorie_counter_meal_log_list_urlpattern' %}">
                    Meal Logs</a></li>
            {% endif %}
            {%  if perms.calorie_counter.view_exercise %}
            <li>
                <a href="{% url 'calorie_counter_exercise_list_urlpattern' %}">
                    Exercises</a></li>
            {% endif %}
            {%  if perms.calorie_counter.view_exerciselog %}
            <li>
                <a href="{% url 'calorie_counter_exercise_log_list_urlpattern' %}">
                    Exercise Logs</a></li>
            {% endif %}
            {%  if perms.calorie_counter.view_caloriegoal %}
            <li>
                <a href="{% url 'calorie_counter_calorie_goal_list_urlpattern' %}">
                    Calorie Goals</a></li>
            {% endif %}
            {%  if perms.calorie_counter.view_dailymacrogoal %}
            <li>
                <a href="{% url 'about_urlpattern' %}">
                    About</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
            <div class="row">
                <section class="eight columns">
                    {% block org_content %}
                        This is default content!
                    {% endblock %}
                </section>
                <section class="desktop four columns">
                    {% block create_button %}{% endblock %}
                </section>
            </div>
            <div class="row">
                <div class="twelve columns">
                    {% block content_footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </main>
    {% if is_paginated %}
        <div class="row">
            <div class="twelve columns">
                <ul class="pagination">
                    {% if first_page_url %}
                        <li>
                            <a href="{{ first_page_url }}">
                                First</a>
                        </li>
                    {% endif %}
                    {% if previous_page_url %}
                        <li>
                            <a href="{{ previous_page_url }}">
                                Previous</a>
                        </li>
                    {% endif %}
                    <li>
                        Page {{ page_obj.number }}
                        of {{ paginator.num_pages }}
                    </li>
                    {% if next_page_url %}
                        <li>
                            <a href="{{ next_page_url }}">
                                Next</a>
                        </li>
                    {% endif %}
                    {% if last_page_url %}
                        <li>
                            <a href="{{ last_page_url }}">
                                Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div><!-- end of container -->

<footer>
       <p>Portions of the Calorie Counter code are based upon code from
        <a href="https://django-unleashed.com">Django Unleashed</a>,
        <a href="http://getskeleton.com/">Skeleton</a>, and
        <a href="https://necolas.github.io/normalize.css/">Normalize.css</a> and
        are subject to the intellectual property rights restrictions of those works.
    </p>
</footer>

</body>
</html>

