{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title is provided by inheriting templates
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'calorie_counter/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'calorie_counter/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'calorie_counter/style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>

<div class="container"><!-- start of container -->
    <header class = "row">
        <div class = "offset-by-one ten columns">
            <h1 class = "top-title">TESTING Calorie Counter</h1>
            <h2>Calorie Tracking System</h2>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'calorie_counter_member_list_urlpattern' %}">
                    Members</a></li>
            <li>
                <a href="{% url 'calorie_counter_daily_macro_goal_list_urlpattern' %}">
                    Macro Goals</a></li>
            <li>
                <a href="{% url 'calorie_counter_food_list_urlpattern' %}">
                    Foods</a></li>
            <li>
                <a href="{% url 'calorie_counter_meal_food_list_urlpattern' %}">
                    Meal Foods</a></li>
            <li>
                <a href="{% url 'calorie_counter_meal_log_list_urlpattern' %}">
                    Meal Logs</a></li>
            <li>
                <a href="{% url 'calorie_counter_exercise_list_urlpattern' %}">
                    Exercises</a></li>
            <li>
                <a href="{% url 'calorie_counter_exercise_log_list_urlpattern' %}">
                    Exercise Logs</a></li>
            <li>
                <a href="{% url 'calorie_counter_calorie_goal_list_urlpattern' %}">
                    Calorie Goals</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
            <div class="row">
                <section class="eight columns">
                    {% block org_content %}
                        This is default content!
                    {% endblock %}
                </section>
                <section class="desktop four columns">
                    {% block create_button %}{% endblock %}
                </section>
            </div>
            <div class="row">
                <div class="twelve columns">
                    {% block content_footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </main>
</div><!-- end of container -->

<footer>
       <p>Portions of the Calorie Counter code are based upon code from
        <a href="https://django-unleashed.com">Django Unleashed</a>,
        <a href="http://getskeleton.com/">Skeleton</a>, and
        <a href="https://necolas.github.io/normalize.css/">Normalize.css</a> and
        are subject to the intellectual property rights restrictions of those works.
    </p>
</footer>

</body>
</html>

