{%  extends 'calorie_counter/base.html' %}
<html lang="en">

{%  block title %}
    Calorie Goal List
{%  endblock %}

{%  block content %}
    <h2> Calorie Goal List </h2>
    <div>
        <a href="{% url 'calorie_counter_calorie_goal_create_urlpattern' %}"> Add a new calorie goal</a>
    </div>
    <ul>
        {% for calorie_goal in calorie_goal_list %}
            <li>
                <a href="{{ calorie_goal.get_absolute_url }}"> {{ calorie_goal }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no calorie goals.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}
