{% extends 'calorie_counter/base.html' %}

{% block title %}
    Delete Calorie Goal
{% endblock %}

{% block content %}
    <form
        action="{{ calorie_goal.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            calorie goal {{ calorie_goal }}?
        </p>
        <a href="{{ calorie_goal.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Calorie Goal</button>
    </form>
{% endblock %}
