{%  extends 'calorie_counter/base.html' %}
<html lang="en">

{%  block title %}
   Daily Macro Goal List
{%  endblock %}

{%  block content %}
    <h2> Daily Macro Goal List </h2>

    <div>
        <a href="{% url 'calorie_counter_daily_macro_goal_create_urlpattern' %}"
      class="button button-primary"> Add a new daily macro goal </a>
    </div>
    <ul>
        {% for daily_macro_goal in daily_macro_goal_list %}
            <li>
                <a href="{{ daily_macro_goal.get_absolute_url }}"> {{ daily_macro_goal }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no daily macro goals.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}
