{% extends 'calorie_counter/base.html' %}

{% block title %}
    Delete Exercise Log
{% endblock %}

{% block content %}
    <form
        action="{{ exerciselog.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            exercise_log {{ exerciselog }}?
        </p>
        <a href="{{ exerciselog.get_absolute_url }}">Cancel</a>
        <button type="submit" class="button button-primary">Delete Exercise Log</button>
    </form>
{% endblock %}
tml>