{% extends 'calorie_counter/base.html' %}

{% block title %}
    Error Deleting Exercise
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Exercise </h2>
        <p>
            You may not delete exercise {{ exercise }} because it has the following exercise logs:
        </p>

        <h4>Related Exercise Logs:</h4>
        <ul>
            {% for exercise_log in exercise_logs %}
            <li><a href="{{ exercise_log.get_absolute_url }}">{{ exercise_log }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'calorie_counter_exercise_list_urlpattern' %}">Exercise List</a>.
        </p>
    </div>
{% endblock %}
