{% extends 'calorie_counter/base.html' %}

{% block title %}
  Exercise Detail
{% endblock %}

{% block content %}
    <h2>Exercise Detail - {{ exercise_detail.exercise_type }}</h2>
    <ul>
        <li>
            <a href="{{ exercise_detail.get_update_url }}"> Edit Exercise</a>
        </li>
        <li>
            <a href="{{ exercise_detail.get_delete_url }}"> Delete Exercise</a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Type:</th>
                <td>{{ exercise_detail.exercise_type }}</td>
            </tr>
            <tr>
                <th>Category:</th>
                <td>{{ exercise_detail.exercise_category }}</td>
            </tr>
            <tr>
                <th>Calories burned per minute:</th>
                <td>{{ exercise_detail.calories_burned_per_minute}}</td>
            </tr>
        </table>
    </section>



{% endblock %}
