{% extends 'calorie_counter/base.html' %}

{% block title %}
    Error Deleting Exercise Log
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Exercise Log</h2>
        <p>
            You may not delete exercise log {{ exercise_log }}.  This
            exercise log is currently assigned to the following
            sections:
        </p>
THIS SECTION NOT WORKING
        <ul>
            {% for section in sections %}
            <li><a href="{{ section.get_absolute_url }}">{{ section }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'courseinfo_course_list_urlpattern' %}">Course List</a>.
        </p>
    </div>
{% endblock %}
l>