{%  extends 'calorie_counter/base.html' %}
<html lang="en">

{%  block title %}
    Exercise Log List
{%  endblock %}

{%  block content %}
    <h2> Exercise Log List </h2>

    <div>
    {% if perms.calorie_counter.add_exerciselog%}
        <a href="{% url 'calorie_counter_exerciselog_create_urlpattern' %}"
      class="button button-primary"> Add a new exercise log </a>
    {% endif %}
    </div>
    <ul>
        {% for exercise in exerciselog_list %}
            <li>
                <a href="{{ exercise.get_absolute_url }}"> {{ exercise }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no exercise log.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}
l>