{% extends 'calorie_counter/base.html' %}

{% block title %}
    Exercise Log Detail
{% endblock %}

{% block content %}
    <h2>Exercise Log Detail for: {{ exerciselog_detail.member }}</h2>
    <ul class="ezu-button-list">
    {% if perms.calorie_counter.change_exerciselog%}
        <li>
            <a href="{{ exerciselog_detail.get_update_url }}"
      class="button button-primary"> Edit Exercise Log</a>
        </li>
    {% endif %}
    {% if perms.calorie_counter.delete_exerciselog%}
        <li>
            <a href="{{ exerciselog_detail.get_delete_url }}"
      class="button button-primary"> Delete Exercise Log</a>
        </li>
    {% endif %}
    </ul>

    <section>
        <table>
            <tr>
                <th>Date:</th>
                <td>{{ exerciselog_detail.date }}</td>
            </tr>

            <tr>
                <th>Duration:</th>
                <td>{{ exerciselog_detail.duration }}</td>
            </tr>
            <tr>
                <th>Exercise:</th>
                <td>{{ exerciselog_detail.exercise }}</td>
            </tr>
            <tr>
                <th>Total Calories Burned:</th>
                <td>{{ total_calories_burned }}</td>
            </tr>

        </table>
    </section>


{% endblock %}