 {% extends 'calorie_counter/base.html' %}

{% block title %}
    Error Deleting Food
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Food</h2>
        <p>
            You may not delete food{{ food }}.  This
            food is currently assigned to the following
            sections:
        </p>
    <h4>Meal Food</h4>
        <ul>
            {% for food in meal_foods %}
            <li><a href="{{ food.get_absolute_url }}">{{ food }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'calorie_counter_food_list_urlpattern' %}">Course List</a>.
        </p>
    </div>
{% endblock %}
