{% extends 'calorie_counter/base.html' %}

{% block title %}
    Food Detail
{% endblock %}

{% block content %}
    <h2>Food Detail for: {{ food_detail.name }}</h2>
    <ul class="ezu-button-list">
    {% if perms.calorie_counter.change_foodl%}
        <li>
            <a href="{{ food_detail.get_update_url }}"
      class="button button-primary"> Edit Food</a>
        </li>
    {% endif %}
    {% if perms.calorie_counter.delete_food%}
        <li>
            <a href="{{ food_detail.get_delete_url }}"
      class="button button-primary"> Delete Food</a>
        </li>
    {% endif %}
    </ul>

    <section>
        <table>

            <tr>
                <th>Calories Per Serving:</th>
                <td>{{ food_detail.calories_per_serving }}</td>
            </tr>
            <tr>
                <th>Protein (grams):</th>
                <td>{{ food_detail.protein_grams }}</td>
            </tr>
            <tr>
                <th>Carbohydrates (grams):</th>
                <td>{{ food_detail.carbohydrates_grams }}</td>
            </tr>
            <tr>
                <th>Fat (grams):</th>
                <td>{{ food_detail.fat_grams }}</td>
            </tr>
        </table>
    </section>


{% endblock %}