{%  extends 'calorie_counter/base.html' %}
<html lang="en">

{%  block title %}
    Food List
{%  endblock %}

{%  block content %}
    <h2> Food List </h2>
    <div>
        <a href="{% url 'calorie_counter_food_create_urlpattern' %}"> Add a new food</a>
    </div>
    <ul>
        {% for food in food_list %}
            <li>
                <a href="{{ food.get_absolute_url }}"> {{ food }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no foods.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}