{%  extends 'calorie_counter/base.html' %}
<html lang="en">

{%  block title %}
    Meal Food List
{%  endblock %}

{%  block content %}
    <h2> Meal Food List </h2>

    <div>
        <a href="{% url 'calorie_counter_meal_food_create_urlpattern' %}"
      class="button button-primary"> Add a new meal food </a>
    </div>
    <ul>
        {% for meal_food in meal_food_list %}
            <li>
                <a href="{{ meal_food.get_absolute_url }}"> {{ meal_food }}, Meal Log Date: {{ meal_food.meal_log.date }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no meal_foods.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}