{% extends 'calorie_counter/base.html' %}

{% block title %}
    Meal Food Detail
{% endblock %}

{% block content %}
    <h2>Meal Food Detail for {{ mealfood_detail.food }}</h2>
    <ul class="ezu-button-list">
    {% if perms.calorie_counter.change_mealfood%}
        <li>
            <a href="{{ mealfood_detail.get_update_url }}"
      class="button button-primary"> Edit Meal Food</a>
        </li>
    {% endif %}
    {% if perms.calorie_counter.delete_mealfood%}
        <li>
            <a href="{{ mealfood_detail.get_delete_url }}"
      class="button button-primary"> Delete Meal Food</a>
        </li>
    {% endif %}
    </ul>

 <section>
        <table>
            <tr>
                <th>Food:</th>
                <td>{{ mealfood_detail.food }}</td>
            </tr>
            <tr>
                <th>Quantity:</th>
                <td>{{ mealfood_detail.quantity }}</td>
            </tr>
            <tr>
                <th>Calories per Serving:</th>
                <td>{{ mealfood_detail.food.calories_per_serving }}</td>
            </tr>

            <tr>
                <th>Date:</th>
                <td>{{ mealfood_detail.meal_log.date }}</td>
            </tr>

        </table>
    </section>


{% endblock %}