{% extends 'calorie_counter/base.html' %}

{% block title %}
    Error Deleting Meal Log
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Meal Log </h2>
        <p>
            You may not delete meal log {{ meallog }} because it has the following meal foods:
        </p>

        <h4>Related Meal Foods:</h4>
        <ul>
            {% for mealfood in mealfoods %}
            <li><a href="{{ mealfood.get_absolute_url }}">{{ mealfood }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'calorie_counter_meallog_list_urlpattern' %}">Meal Log List</a>.
        </p>
    </div>
{% endblock %}
