{% extends 'calorie_counter/base.html' %}

{% block title %}
    Meal Log Detail
{% endblock %}

{% block content %}
    <h2>Meal Log Detail for: {{ meal_log_detail }}</h2>
    <ul>
        <li>
            <a href="{{ meal_log_detail.get_update_url }}"> Edit Meal Log</a>
        </li>
        <li>
            <a href="{{ meal_log_detail.get_delete_url }}"> Delete Meal Log</a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Meal Type:</th>
                <td>{{ meal_log_detail.meal_type }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ meal_log_detail.date }}</td>
            </tr>
            <tr>
                <th>Time:</th>
                <td>{{ meal_log_detail.time }}</td>
            </tr>

        </table>

    <h4>Meal Foods</h4>
<table>
    <tr>
        <th>Food</th>
        <th>Quantity</th>
    </tr>
    {% for meal_food in meal_log_detail.meal_foods.all %}
    <tr>
        <td><a href="{{ meal_food.food.get_absolute_url }}">{{ meal_food.food.name }}</a></td>
        <td>{{ meal_food.quantity }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">No foods associated with this meal log.</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
