{%  extends 'calorie_counter/base.html' %}
<html lang="en">

{%  block title %}
    Meal Log List
{%  endblock %}

{%  block content %}
    <h2> Meal Log List </h2>
    <div>
        <a href="{% url 'calorie_counter_meal_log_create_urlpattern' %}"> Add a new meal log. </a>
    </div>
    <ul>
        {% for meal_log in meal_log_list %}
            <li>
                <a href="{{ meal_log.get_absolute_url }}"> {{ meal_log }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no meal logs.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}
