{% extends 'calorie_counter/base.html' %}

{% block title %}
    Meal Food Detail
{% endblock %}

{% block content %}
    <h2>Meal Food Detail for {{ meal_food_detail.food }}</h2>
    <ul>
        <li>
            <a href="{{ meal_food_detail.get_update_url }}"> Edit Meal Food</a>
        </li>
        <li>
            <a href="{{ meal_food_detail.get_delete_url }}"> Delete Meal Food</a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Food:</th>
                <td>{{ meal_food_detail.food }}</td>
            </tr>
            <tr>
                <th>Quantity:</th>
                <td>{{ meal_food_detail.quantity }}</td>
            </tr>

        </table>
    </section>


{% endblock %}