{%  extends 'calorie_counter/base.html' %}
<html lang="en">

{%  block title %}
    Meal Log List
{%  endblock %}

{%  block content %}
    <h2> Meal Log List </h2>

    <div>
    {% if perms.calorie_counter.add_meallog%}
        <a href="{% url 'calorie_counter_meallog_create_urlpattern' %}"
      class="button button-primary"> Add a new meal log. </a>
    {% endif %}
    </div>
    <ul>
        {% for meallog in meallog_list %}
            <li>
                <a href="{{ meallog.get_absolute_url }}"> {{ meallog }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no meal logs.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}
