{% extends 'calorie_counter/base.html' %}

{% block title %}
    Meal Log Detail
{% endblock %}

{% block content %}
    <h2>Meal Log Detail for: {{ meallog_detail }}</h2>
    <ul class="ezu-button-list">
        <li>
            <a href="{{ meallog_detail.get_update_url }}"
      class="button button-primary"> Edit Meal Log</a>
        </li>
        <li>
            <a href="{{ meallog_detail.get_delete_url }}"
      class="button button-primary"> Delete Meal Log</a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Meal Type:</th>
                <td>{{ meallog_detail.meal_type }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>{{ meallog_detail.date }}</td>
            </tr>
            <tr>
                <th>Time:</th>
                <td>{{ meallog_detail.time }}</td>
            </tr>

        </table>

    <h4>Meal Foods</h4>
<table>
    <tr>
        <th>Food</th>
        <th>Quantity</th>
    </tr>
    {% for mealfood in meallog_detail.mealfoods.all %}
    <tr>
        <td><a href="{{ mealfood.food.get_absolute_url }}">{{ mealfood.food.name }}</a></td>
        <td>{{ mealfood.quantity }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">No foods associated with this meal log.</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
