{% extends 'calorie_counter/base.html' %}

{% block title %}
    Delete Meal Log
{% endblock %}

{% block content %}
    <form
        action="{{ meallog.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            meal log {{ meallog }}?
        </p>
        <a href="{{ meallog.get_absolute_url }}">Cancel</a>
        <button type="submit" class="button button-primary">Delete Meal Log</button>
    </form>
{% endblock %}
tml>