{%  extends 'calorie_counter/base.html' %}
<html lang="en">

{%  block title %}
Member List
{%  endblock %}

{%  block content %}
    <h2> Member List </h2>

    <div>
        <a href="{% url 'calorie_counter_member_create_urlpattern' %}"> Add a new member </a>
    </div>
    <ul>
        {% for member in member_list %}
            <li>
                <a href="{{ member.get_absolute_url }}"> {{ member }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no members.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}
