{%  extends 'calorie_counter/base.html' %}

{%  block title %}
Member List
{%  endblock %}

{%  block content %}
    <h2> Member List </h2>

    <div>
    {% if perms.calorie_counter.add_member%}
        <a href="{% url 'calorie_counter_member_create_urlpattern' %}"
      class="button button-primary"> Add a new member </a>
    {% endif %}
    </div>
    <ul>
        {% for member in member_list %}
            <li>
                <a href="{{ member.get_absolute_url }}"> {{ member }} </a>
            </li>
        {%  empty   %}
            <li><em>There are currently no members.</em></li>
        {% endfor %}
    </ul>
{%  endblock %}
