{% extends 'calorie_counter/base.html' %}

{% block title %}
    Error Deleting Member
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Member </h2>
        <p>
            You may not delete member {{ member }}.  This
            member is currently connected to the following data:
        </p>
        <h4>Calorie Goals</h4>
        <ul>
            {% for goal in calorie_goals %}
            <li><a href="{{ goal.get_absolute_url }}">{{ goal }}</a></li>
            {% endfor %}
        </ul>

        <h4>Meal Logs</h4>
        <ul>
            {% for log in meal_logs %}
            <li><a href="{{ log.get_absolute_url }}">{{ log }}</a></li>
            {% endfor %}
        </ul>

        <h4>Exercise Logs</h4>
        <ul>
            {% for log in exercise_logs %}
            <li><a href="{{ log.get_absolute_url }}">{{ log }}</a></li>
            {% endfor %}
        </ul>
        <p>
            Return to <a href="{% url 'calorie_counter_member_list_urlpattern' %}">Course List</a>.
        </p>
    </div>
{% endblock %}
