{% extends 'calorie_counter/base.html' %}

{% block title %}
    Member Detail
{% endblock %}

{% block content %}
    <h2>Member Detail for: {{ member_detail.first_name }} {{ member_detail.last_name }}</h2>
    <ul class="ezu-button-list">
        <li>
            <a href="{{ member_detail.get_update_url }}"
      class="button button-primary"> Edit Member</a>
        </li>
        <li>
            <a href="{{ member_detail.get_delete_url }}"
      class="button button-primary"> Delete Member</a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ member_detail.first_name}}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ member_detail.last_name }}</td>
            </tr>
            {% if member_detail.disambiguator %}
                <tr>
                    <th>Disambiguator:</th>
                    <td>{{ member_detail.disambiguator }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Height (Inches):</th>
                <td>{{ member_detail.height }}</td>
            </tr>
            <tr>
                <th>Weight (Lbs):</th>
                <td>{{ member_detail.weight }}</td>
            </tr>
            <tr>
                <th>Sex:</th>
                <td>{{ member_detail.sex}}</td>
            </tr>
            <tr>
                <th>Date Joined:</th>
                <td>{{ member_detail.date_joined }}</td>
            </tr>

        </table>
    </section>

<h5>NET CALORIES TODAY: {{ net_calories }}</h5>


<h5>Calorie Goals</h5>

<ul>
    {% for goal in calorie_goals %}
    <li><a href="{{ goal.get_absolute_url }}">{{ goal }}</a></li>
    {% endfor %}
</ul>

<h5>Meal Logs</h5>
<ul>
    {% for log in meal_logs %}
    <li><a href="{{ log.get_absolute_url }}">{{ log }}</a></li>
    {% endfor %}
</ul>

<h5>Exercise Logs</h5>
<ul>
    {% for log in exercise_logs %}
    <li><a href="{{ log.get_absolute_url }}">{{ log }}</a></li>
    {% endfor %}
</ul>


{% endblock %}
